.center{
    position: relative;
    margin: auto;
    width: 150px;
    top: 200px;
}

input{
    width: 100px;
    height: 30px;
    border-color: red;
    background-color: green;
    color: white;
}

body{
    background-image: url(Capture.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
}