body {
    width: 1280px;
    height: 800px;
    margin: auto;
    background-image: url(assets/bg.png);
    background-repeat:round;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer {
    position: relative;
    top: 50px;
}


.memory {
    padding: 50px;
    display: block;
    font-size: xx-large;
}

.lvlSet {
    margin-top: 30px;
    margin-bottom: 50px;
}

#econtainer {
    margin: 50px;
    display: inline-block;
    font-size: x-large;
}

#ebutton {
    padding: 20px;
    background-color: forestgreen;
    filter: drop-shadow(3px 2px 4px #484848);
}

#mcontainer {
    margin: 50px;
    display: inline-block;
    font-size: x-large;
}

#mbutton {
    padding: 20px;
    background-color: rgb(214, 151, 33);
    filter: drop-shadow(3px 2px 4px #484848);
}

#hcontainer {
    margin: 50px;
    display: inline-block;
    font-size: x-large;
}

#hbutton {
    padding: 20px;
    background-color: rgb(214, 56, 29);
    filter: drop-shadow(3px 2px 4px #484848);
}

#eend {
    width: 90px;
    height: 40px;
    background-color: rgb(187, 4, 4);
    filter: drop-shadow(3px 2px 4px #484848);
}

#mend {
    width: 90px;
    height: 40px;
    background-color: rgb(187, 4, 4);
    filter: drop-shadow(3px 2px 4px #484848);
}

#hend {
    width: 90px;
    height: 40px;
    background-color: rgb(187, 4, 4);
    filter: drop-shadow(3px 2px 4px #484848);
}

.p1 {
    display: inline-block;
}

.cards {
    display: inline-block;
}

.p2 {
    display: inline-block;
}

.c1 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c2 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c3 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c4 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c5 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c6 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c7 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c8 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c1m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c2m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c3m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c4m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c5m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c6m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c7m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c8m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c9m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c10m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c11m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c12m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c13m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c14m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c15m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c16m {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c1h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c2h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c3h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c4h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c5h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c6h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c7h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c8h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c9h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c10h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c11h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c12h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c13h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c14h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c15h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c16h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c17h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c18h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c19h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c20h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c21h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c22h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c23h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c24h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c25h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c26h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c27h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c28h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c29h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c30h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c31h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.c32h {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/back-01.png);
}

.FP-C-1 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-C-1.png);
}

.FP-C-2 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-C-2.png);
}

.FP-G-1 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-G-1.png);
}

.FP-G-2 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-G-2.png);
}

.FP-O-1 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-O-1.png);
}

.FP-O-2 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-O-2.png);
}

.FP-R-1 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-R-1.png);
}

.FP-R-2 {
    display: inline-block;
    height: 151px;
    width: 126px;
    background-image: url(assets/FP-R-2.png);
}

.X {
    display: none;
}
